.profile__field_name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    width: 294px;
}

@media screen and (max-width: 768px) {
    .profile__field_name {
        width: 200px;
        font-size: 27px;
        line-height: 33px;
    }
}