.profile__info {
    display: flex;
    flex-direction: row;
    width: 486px;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .profile__info {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }
}