.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        margin-top: 42px;
    }
}