.header__line {
    width: calc(100% - 2px);
    height: 0;
    opacity: .7;
    border: 1px solid #545454;
    margin-top: 41px;
}

@media screen and (max-width: 425px) {
    .header__line {
        margin-top: 32px;
    }
}