.profile__fields {
    display: flex;
    flex-direction: column;
    width: 336px;
    margin-left: 30px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .profile__fields {
        margin: 26px 0 0;
        justify-content: flex-start;
        align-items: center;
        width: 282px;
    }
}