.button_type_confirm {
    background-color: #000;
    color: #FFF;
    margin-top: 14px;
    border-radius: 2px;
    height: 50px;
    width: 358px;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.button_type_confirm:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .button_type_confirm {
        height: 46px;
        margin-top: 14px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}